{% extends 'base.html' %}

{% block title %}Create Post{% endblock %}

{% block content %}

<section class="container my-4">
    <h1>Create A Blog Post</h1>
    <div class="row">
        <div class="col-8">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p}}
                </div>
                <button class="btn btn-primary" type="submit">Post</button>
            </form>
        </div>
    </div>
</section>


{% endblock %}