{% extends 'base.html' %}

{% block title %}Delete - {{ post.title|capfirst }}{% endblock %}

{% block content %}

<section class="container my-4">
    <h1>Delete - {{ post.title|capfirst }}</h1>
    <div class="row">
        <div class="col-8">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                </div>
                <div class="alert alert-warning text-center" role="alert">
                    Are You Sure?
                </div>
                <button class="btn btn-primary btn-block" type="submit">Delete</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}