{% extends 'base.html' %}

{% block title %}Delete - {{ post.title|capfirst }}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if post.author.id == user.id %}
        <section class="container my-4 text-center">
            <h1>Delete - {{ post.title|capfirst }}</h1>
            <div class="row">
                <div class="col-8 offset-2">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                        </div>
                        <div class="alert alert-warning text-center" role="alert">
                            Are You Sure?
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </section>
    {% else %}
        <div class='container mt-4'>
            <div class="alert alert-warning text-center" role="alert">
                <h1>Invalid User</h1>
            </div>
        </div>
    {% endif %}

{% else %}
    <div class="container mt-4">
        <div class="alert alert-warning text-center" role="alert">
            <h1>Login Required</h1>
            <a href={% url 'login' %} class="btn btn-primary">Login</a>
        </div>
    </div>
{% endif %}
{% endblock %}