{% extends 'base.html' %}

{% block title %}HomePage{% endblock %}

{% block content %}

<div class="container bg-light my-4">
    <h1>Posts</h1>
    <div class="row">
        {% for post in object_list %}
            <div class="col-8 offset-2 my-3 text-center">
                <h2><a href="{% url 'myblog:detail' post.id %}">{{ post.title|capfirst }}</a></h2>
                <p class="text-muted"><a href="{% url 'myblog:categoryview' post.category|slugify %}">{{ post.category|capfirst }}</a>
                <p class="text-muted">posted by: {{ post.author }} on {{ post.post_date }}</p>
                <p>{{ post.snippet }}</p>
                {% if post.author == user %}
                    <p><a href={% url 'myblog:edit' post.id %} class="btn btn-outline-primary btn-block btn-sm">Edit</a></p>
                    <p><a href={% url 'myblog:delete' post.id %} class="btn btn-outline-primary btn-block btn-sm">Delete</a></p>
                {% endif %}
                <hr>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

