{% extends 'base.html' %}

{% block title %}HomePage{% endblock %}

{% block content %}

<div class="container bg-light my-4">
    <h1>Posts</h1>
    <div class="row">
        {% for post in object_list %}
            <div class="col-8 offset-2 my-3 text-center">
                <h2><a href="{% url 'myblog:detail' post.id %}">{{ post.title|capfirst }}</a></h2>
                posted by: {{ post.author }}
                <p>{{ post.body }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}